html{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url('./background.jpg');
    color: white;
}

.mainTitle{
    font-family: 'Piedra', cursive;
}

#firstPart{
    position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
width: 90%;
}

#roomID{
    outline: none;
    border: none;
    text-align: center;
    background: none;
    font-size: x-large;
   display: block;
   margin-bottom: 20px;
   margin-left: auto;
   margin-right: auto;
   width:60%;
   color:grey
}
.joinBtn{
background-color: #343a40;
color:white;
border:none
}
#file-input{
    margin: 50px auto;
    display: block;
}

.peerStatus{
    color:red;
}